/** page structure **/
/*#w {
  display: block;
  max-width: 1100px;
  min-width: 280px;
  /*padding-top: 20px;
  margin: 0 auto;
}*/

.pricing-filter {
	background: url(../images/CHM1.png);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.pricing-filter-wrapper {
	background-color: #000033;
	position: relative;
}

.section-header {
	padding-left: 10px;
	padding-top: 35px;
}

.pricing-title {
	color: #4e8cc7;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: ideal;
}


/** filters list **/
#filter-list {
	display: block;
	width: 100%;
	margin: 0px;
	padding-left: 0px;
	/*text-align: center;
	margin-bottom: 25px;*/
}
/* tulisan menu */
#filter-list li {
	/*font-weight: bold;*/
	color: #4e8cc7 !important;
	display: inline-block;
	width: auto;
	padding: 6px 8px;
	margin-right: 15px;
	font-size: 1.2em;
	cursor: pointer;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;*/
	/*border-radius: 3px;*/
	border-bottom: 2px solid rgba(255, 255, 255, 0);
	font-family: Strawberry;
}
#filter-list li:hover {
	color: #fff !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
#filter-list li.active {
	/*font-weight: bold;*/
	/*background: #D4CECC;*/
	border-bottom: 3px ridge #fff;
	color: #fff !important;
}


/** pengaturan box menu project **/
#menu-pricing {
	display: block;
  	width: 100%;
  	padding: 0px 0px 25px 0px;
  	margin-bottom: 0;
	text-align: center;

}

/* box */

#menu-pricing .item {
	/*background-color: #b2b2b2;
	box-shadow: 0px 2px 5px #000066;*/
	display: none;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #fff;
	text-align: center;
	/*-moz-box-sizing: border-box;*/
}

#menu-pricing .item a {
  display: flex;
  max-width: 100%;
  width: 290px;
  height: 190px;
  text-decoration: none;
}

#menu-pricing .item img {
  max-width: 100%;
}

/* tulisan dalam box*/
#menu-pricing .item h2 {
    font-size: 32px;
	/*padding: 12px;*/
    margin: 0px;
	font-family: "Versalita";
}

@media (min-width: 991px) {
	#menu-pricing .item:nth-child(7),
	#menu-pricing .item:nth-child(8),
	#menu-pricing .item:nth-child(9) {
		margin-bottom: 25px;
	}
}


.menu-price li a,
.menu-price li a img {
	display: block;
	position: relative;
}


/*gambar menu Project */
.menu-price li a {
	overflow: hidden;
	color: #fff;
	
}
/* slide box */
.menu-price li a .menu-desc {
	position: absolute;
	font-size: 14px;
	background: rgba(119, 167, 212, 0.25);
	width: 100%;
	bottom: -100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Judul Text dalam Slide Box */
.menu-price li a .menu-desc span h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 5px;
	font-family: "ideal";
}

/* menentukan arah slide */
.menu-price li a:hover .menu-desc {
	bottom : 0px;
}

/* isi text didalam slide box */
.menu-price li a:hover .menu-desc span {
	display: block;
	color: rgba(255,255,255,0.9);
	font-size: 14px;
	padding: 5% 10px;
	
  	/*padding: 22% 20px;
  	line-height: 23px;*/
	
}

/*------MenuPrice2------*/
/* box */

#menu-pricing .item2 {
	background-color: #b2b2b2;
	box-shadow: 0px 2px 5px #444;
	display: none;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #000033;
	text-align: center;
	font-family: "ideal";
	font-size: 15px;
	/*-moz-box-sizing: border-box;*/
}
#menu-pricing .item2:hover{
	color: transparent;
	background-color: none !important;
	text-overflow: none !important;
	/*-moz-box-sizing: border-box;*/
}

#menu-pricing .item2 a {
  display: flex;
  max-width: 100%;
  width: 290px;
  height: 190px;
  text-decoration: none;
}

#menu-pricing .item2 img {
  max-width: 100%;
}

/* tulisan dalam box*/
#menu-pricing .item2 h2 {
    font-size: 20px;
    color: #000033;
	/*padding: 12px;*/
    margin: 0px;
	font-family: "ideal";
}

@media (min-width: 991px) {
	#menu-pricing .item2:nth-child(7),
	#menu-pricing .item2:nth-child(8),
	#menu-pricing .item2:nth-child(9) {
		margin-bottom: 25px;
	}
}

#menu-pricing .item3 {
	background-color: #808080;
	box-shadow: 0px 2px 5px #444;
	display: none;
	vertical-align: top;
	margin-bottom: 25px;
	margin-right: 20px;
	color: #000066;
	text-align: center;
	font-family: "ideal";
	font-size: 15px;
	/*-moz-box-sizing: border-box;*/
}
#menu-pricing .item3:hover{
	color: transparent;
	background-color: none !important;
	text-overflow: none !important;
	/*-moz-box-sizing: border-box;*/
}

#menu-pricing .item3 a {
  display: flex;
  max-width: 100%;
  width: 290px;
  height: 190px;
  text-decoration: none;
}

#menu-pricing .item3 img {
  max-width: 100%;
}

/* tulisan dalam box*/
#menu-pricing .item3 h2 {
    font-size: 20px;
    color: #000033;
	/*padding: 12px;*/
    margin: 0px;
	font-family: ideal;
}

@media (min-width: 991px) {
	#menu-pricing .item3:nth-child(7),
	#menu-pricing .item3:nth-child(8),
	#menu-pricing .item3:nth-child(9) {
		margin-bottom: 25px;
	}
}

.menu-price2 li a,
.menu-price2 li a img {
	display: block;
	position: relative;
}


/*gambar menu Project */

.menu-price2 li a {
	overflow: hidden;
	color: #fff;
}
/* slide box */
.menu-price2 li a .menu-desc {
	position: absolute;
	font-size: 14px;
	background: rgba(119, 167, 212, 0.25);
	width: 100%;
	bottom: -100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* Judul Text dalam Slide Box */
.menu-price2 li a .menu-desc span h3 {
	font-size: 20px;
	color: #000;
	margin-bottom: 5px;
	font-family: "Tekton";
}

.menu-price2 li a .menu-desc span h5 {
	font-size: 15px;
	color: #000;
	margin-bottom: 5px;
}

/* menentukan arah slide */
.menu-price2 li a:hover .menu-desc {
	bottom : 0px;
}

/* isi text didalam slide box */
.menu-price2 li a:hover .menu-desc span {
	display: block;
	color: rgba(255,255,255,0.9);
	font-size: 14px;
  	/*padding: 22% 20px;
  	line-height: 23px;*/
	
}

/*------Product----*/
/*on sale*/
.title-box{
	background: orange;
	color: #fff;
	width: 180px;
	padding: 10px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}
.title-box h2{
	font-size: 24px;
	text-transform: uppercase;
	text-align:center;
}
.title-box::after{
	content: '';
	border-top: 40px solid orange;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}
/*------Product Categories----*/
.product-categories{
	margin: 50px 0;
}
.product-categories img{
	width: 100%;
	padding: 20px 0;
	transition: 0.7s;
	cursor: pointer;
}
.product-categories img:hover{
	transform: scale(1.1);
}
/*------Product Top----*/
.product-top img{
	width: 100%;
	background-position: center;
}/*
.overlay-right{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
}*/
.overlay-right .fa{
	cursor: : pointer;
	/*background-color: #fff;*/
	color: #000033;
	/*height: 15px;
	width: 15px;*/
	font-size: 15px;
}
.overlay-right .btn-secondary
{
	/*background: none !important;*/
	border: none !important;
	box-shadow: none !important;
}/*
.overlay-right .btn-secondary:hover
{
	opacity: 1
	color: #fff;
	transition: 0.5s;
}*/

.menu-price .overlay-right .fa:hover{
	opacity: 1;
	color: #000;
	margin-left: 5%;
	transition: 0.5s;
}
.overlay-right .btn-secondary:hover
{
	background: #808080;
}
/*------Product Bottom----*/
.product-bottom .fa{
	color: orange;
	font-size: 10px;
}
.product-bottom h3{
	font-size: 25px;
	font-weight: bold;

	font-family: "cinematografica-extrabold";
}
.product-bottom h5{
	font-size: 15px;
	padding-bottom: 10px;
	font-family: "cinematografica-extrabold";
}
.product-bottom h5:hover{
	font-size: 20px;
	transition: 0.5s;
	color: #4e8cc7;
}