@font-face {
    font-family: 'montserratblack';
    src: url('montserrat-black-webfont.eot');
    src: url('montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-black-webfont.woff2') format('woff2'),
         url('montserrat-black-webfont.woff') format('woff'),
         url('montserrat-black-webfont.ttf') format('truetype'),
         url('montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('montserrat-bold-webfont.eot');
    src: url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-bold-webfont.woff2') format('woff2'),
         url('montserrat-bold-webfont.woff') format('woff'),
         url('montserrat-bold-webfont.ttf') format('truetype'),
         url('montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextrabold';
    src: url('montserrat-extrabold-webfont.eot');
    src: url('montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-extrabold-webfont.woff2') format('woff2'),
         url('montserrat-extrabold-webfont.woff') format('woff'),
         url('montserrat-extrabold-webfont.ttf') format('truetype'),
         url('montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextralight';
    src: url('montserrat-extralight-webfont.eot');
    src: url('montserrat-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-extralight-webfont.woff2') format('woff2'),
         url('montserrat-extralight-webfont.woff') format('woff'),
         url('montserrat-extralight-webfont.ttf') format('truetype'),
         url('montserrat-extralight-webfont.svg#montserratextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('montserrat-light-webfont.eot');
    src: url('montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-light-webfont.woff2') format('woff2'),
         url('montserrat-light-webfont.woff') format('woff'),
         url('montserrat-light-webfont.ttf') format('truetype'),
         url('montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratmedium';
    src: url('montserrat-medium-webfont.eot');
    src: url('montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-medium-webfont.woff2') format('woff2'),
         url('montserrat-medium-webfont.woff') format('woff'),
         url('montserrat-medium-webfont.ttf') format('truetype'),
         url('montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('montserrat-regular-webfont.eot');
    src: url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff'),
         url('montserrat-regular-webfont.ttf') format('truetype'),
         url('montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemibold';
    src: url('montserrat-semibold-webfont.eot');
    src: url('montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-semibold-webfont.woff2') format('woff2'),
         url('montserrat-semibold-webfont.woff') format('woff'),
         url('montserrat-semibold-webfont.ttf') format('truetype'),
         url('montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratthin';
    src: url('montserrat-thin-webfont.eot');
    src: url('montserrat-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('montserrat-thin-webfont.woff2') format('woff2'),
         url('montserrat-thin-webfont.woff') format('woff'),
         url('montserrat-thin-webfont.ttf') format('truetype'),
         url('montserrat-thin-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* avenir u body text */

@font-face {
  font-family: 'Avenir-Roman';
  src: url('Avenir-Roman.eot');
  src: url('Avenir-Roman.woff2') format('woff2'),
       url('Avenir-Roman.woff') format('woff'),
       url('Avenir-Roman.ttf') format('truetype'),
       url('Avenir-Roman.svg#Avenir-Roman') format('svg'),
       url('Avenir-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.woff2') format('woff2'),
       url('Avenir-Light.woff') format('woff'),
       url('Avenir-Light.ttf') format('truetype'),
       url('Avenir-Light.svg#Avenir-Light') format('svg'),
       url('Avenir-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cinematografica-extrabold';
    src: url('cinematografica-extrabold-webfont.woff2') format('woff2'),
		 url('cinematografica-extrabold-webfont.woff2') format('woff2'),
         url('cinematografica-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face /*perintah untuk memanggil font eksternal*/
  {
    font-family: 'Tekton'; /*memberikan nama bebas untuk font*/
    src: url('CHM_Font/TektonPro-Bold.otf') format('opentype');
	}
	
@font-face {
  font-family: 'Alba';
  src: url('ALBAS___.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'cinematografica-extrabold';
    src: url('cinematografica-extrabold-webfont.woff2') format('woff2'),
         url('cinematografica-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Strawberry';
  src: url('Strawberry Muffins Demo.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tekton';
  src: url('TektonPro-Bold.otf') format('opentype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontlero';
  src: url('FONTLERO.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chilanka';
  src: url('Chilanka-Regular.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bigshould';
  src: url('BigShouldersDisplay-Light.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pricedown';
  src: url('pricedown.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Versalita';
  src: url('Versalita.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'euphor3d';
  src: url('euphor3d.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shepherdy';
  src: url('shepherdy.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ideal';
  src: url('ideal.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intellecta';
  src: url('intellecta.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Republica';
  src: url('Republica.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal;
}